<div class="h2 font-weight-bold">Forms</div>

<div class="container-fluid">
  <div class="row d-flex w-100 justify-content-center">
    <gll-form [showBuiltInButtons]="true"
                     [relativeFormGroup]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <gll-input [label]="'Name'" inputLabelPosition="left"
                          [associatedFormGroup]="userFormGroup"
        [errorsMessages]="{'required': 'This field is required'}"
        >
          <input id="name" type="text" formControlName="name" class="form-control">
        </gll-input>
        <gll-input [label]="'Surname'" inputLabelPosition="left"
                   [associatedFormGroup]="userFormGroup"
                   [errorsMessages]="{'required': 'This field is another custom message'}"
        >
          <input id="surname" type="text" formControlName="surname" class="form-control">
        </gll-input>
      </form>
    </gll-form>
  </div>
</div>


<markdown [data]="markDown"></markdown>
