<div class="h2 font-weight-bold">Dialogs</div>
<markdown [data]="markDown"></markdown>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-6">
      <button class="btn btn-outline-primary m-0" (click)="openDangerDialogWithConfirm()">Open Danger dialog with confirm text</button>
    </div>

    <div class="col-md-6">
      <button class="btn btn-outline-primary m-0" (click)="openDangerDialogWithoutConfirm()">Open Danger dialog without confirm text</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <button class="btn btn-outline-primary m-0" (click)="openSuccessDialog()">Open Success dialog</button>
    </div>

    <div class="col-md-6">
      <button class="btn btn-outline-primary m-0" (click)="openDangerDialog()">Open Danger dialog</button>
    </div>

  </div>
</div>



