<div style="height: 100vh">
  <gll-dashboard-layout
    [dockSizePx]="50"
    [navbarHeightPx]="50"
    [breadcrumbs]="breadcrumbs"
    [sideBarOpened]="sidebarOpened"
    [hideSidebar]="true"
    [brandSrc]="'../assets/images/galileo_logo.png'"
    [closedSidebarBrandSrc]="'./assets/images/galileo_logo_mini.png'"
    (toggleSideBar)="onToggleSidebar($event)">
    <div *gllDlSidebar="let sideBarOpened">
      <gll-sidebar
        #sidebar
        [sideBarOpened]="sideBarOpened"
        [sidebarItemsGroups]="sidebarItemsGroups"
        (itemClick)="omSidebarItemClick($event)">
      </gll-sidebar>
    </div>
    <div class="h-100" *gllDlNavbar>
      <gll-nav-bar class="h-100"
                   [navbarHeightPx]="50"
                   [fixedTop]="false"
                   [userMenuItems]="userMenuItems"
                   [loggedUsername]="'Marco Rossi'"
                   [avatarImageSrc]="'../assets/images/avatar.png'">
      </gll-nav-bar>
      <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
          <div class="d-flex flex-column">
            <select (change)="languageChanged($event)">
              <option value="en">EN</option>
              <option value="it">IT</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </gll-dashboard-layout>
</div>


<ng-template #explanation>
  <div class="w-100">
    <div class="font-weight-bold">Help</div>
    <p>This is a simple explanation</p>
    <div class="w-100 justify-content-end d-flex flex-row">
      <button (click)="userOnBoardingService.resetUserOnBoarding()" class="btn btn-outline-primary">Got it</button>
    </div>
  </div>
</ng-template>
