<div class="h2 font-weight-bold">Cards</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <gll-simple-card [backgroundColor]="'red'">
        SimpleCard with red Background
      </gll-simple-card>
    </div>
    <div class="col-md-4">
      <gll-simple-card [backgroundColor]="'grey'" class="mt-3">
        SimpleCard with grey background
      </gll-simple-card>
    </div>

    <div class="col-md-4">
      <gll-simple-card class="mt-3">
        SimpleCard with default background
      </gll-simple-card>
    </div>
  </div>
</div>


<markdown [data]="markDown"></markdown>
