@import "./base/variables";

.height-25 {
  height: 25px;
  line-height: 25px;
}

.font-12 {
  font-size: 12px;
}

.padding-3-10 {
  padding: 3px 10px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-90 {
  margin-right: 90px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-pointer-event {
  pointer-events: none;
}
